<div #chart>
  <div class="ball-metric"
       style= "display: flex;
               display: -webkit-flex;
               align-items: center;
               justify-content: center;
               -webkit-align-items: center;">
    <svg class="ball-metric-svg-canvas">
      <defs>
        <clipPath>
          <rect id="clipRect" class="ball-metric-gauge-clip"></rect>
        </clipPath>
      </defs>
      <g>
        <circle class="ball-metric-gauge-fill"></circle>
        <circle class="ball-metric-gauge-outline"></circle>
      </g>
    </svg>
    <div class="ball-metric-label"
         style= "display: flex;
                 display: -webkit-flex;
                 align-items: center;
                 justify-content: left;
                 -webkit-align-items: center;
                 overflow: hidden;">
      <div class="ball-metric-label-text"></div>
    </div>
  </div>
</div>
