<div class="content" role="main">
  <app-metric-ball></app-metric-ball>
  <app-metric-ball
    [value]="0.5"
    [labelText]="'ACTIVATE TEAMS'"
    [height]="20"
    [width]="110"
    (created)="onCreated($event)">
  </app-metric-ball>
<!--  <div><p>proof of isolation of metric-ball</p></div>-->
  <app-metric-ball
    [value]="0.75"
    [labelText]="'ESTABLISH FLOW OF WORK'"
    [color]="'#ffb838'"
    [height]="20"
    [width]="110"
    (created)="onCreated($event)">
  </app-metric-ball>
  <app-metric-ball
    [value]="1"
    [labelText]="'MAKE AND MEET COMMITMENTS'"
    [height]="20"
    [width]="110"
    (created)="onCreated($event)">
  </app-metric-ball>
  <app-metric-ball
    [value]="0.5"
    [labelText]="'IMPROVE THE SYSTEM'"
    [height]="20"
    [width]="110"
    (created)="onCreated($event)">
  </app-metric-ball>
  <app-metric-ball
    [value]="0.1"
    [labelText]="'STABLE THROUGHPUT'"
    [color]="'#ff4444'"
    [height]="20"
    [width]="110"
    (created)="onCreated($event)">
  </app-metric-ball>
</div>
